@import '~bootstrap-icons/font/bootstrap-icons';

body {
	margin: 0;
	font-family: Lato, Roboto, Poppins, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: aliceblue;
}

.edit-del {
	display: flex;
	justify-content: flex-end;
}

#caret {
	color: white;
}

.entryLogo {
	height: 40%;
	width: 40%;
}

.add-drug {
	margin-top: 100px;
}

.card-login {
	margin-top: 20vh;
}

.logout:hover {
	background-color: rgb(128, 227, 227);
}
