body {
	margin: 0;
	font-family: Lato, Roboto, Poppins, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: aliceblue;
}

.edit-del {
	display: flex;
	justify-content: flex-end;
}

#caret {
	color: white;
}

.entryLogo {
	height: 50%;
	width: 50%;
}

.card {
	margin-top: 20vh;
}
